/*
.app_container {
        text-align: center;
}

.app_logo {
        animation: App-logo-spin infinite 20s linear;
        height: 10vmin;
        pointer-events: none;
}

.app_header {
        background-color: #282c34;
        min-height: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
}

.app_body {
        background-color: #280c34;
        min-height: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
}

.app_footer {
        background-color: #282c34;
        min-height: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
}

.app_link {
        color: #61dafb;
}

@keyframes app_logo_spin {
        from {
                transform: rotate(0deg);
        }

        to {
                transform: rotate(360deg);
        }
}
*/
.nav-bar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100vw;
        height: 5vh;
        background-color: #333;
}

.nav-bar-item {
        display: inline;
        float: left;
        border-right: 1px solid #bbb;
}

.nav-bar-item:last-child {
        border-right: none;
}

.nav-link {
        display: block;
        color: white;
        text-align: center;
        height: 3vh;
        padding: 1vh 1vw;
        text-decoration: none;
}

.active {
        background-color: #33b;
}