.disable-item {
    opacity: .20;
}

.lock-item {
    outline: 2px solid red;
    outline-offset: -2px;
}

.unused-item {
    outline: 2px solid red;
    outline-offset: -2px;
}

.item-container {
    display: inline-block;
}