.disable-item {
        opacity: .20;
}

.item {
        width: 50px;
        height: 50px;
        outline: 2px solid white;
        outline-offset: -2px;
}

.lock-item {
        outline: 2px solid red;
        outline-offset: -2px;
}

.unused-item {
        outline: 2px solid red;
        outline-offset: -2px;
}