.header__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--background-color);
}

.header__span {
        margin: 0 0.2em;
        vertical-align: super;
        font-size: 1.3em;
}