.footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--background-color);
}

.footer__p {
        margin: 0;
}