.item-table {
        width: 50vw;
        height: 75vh;
        margin: auto;
        overflow-y: auto;
        overflow-x: hidden;
        border: 2px solid black;
        border-radius: 5px;
        margin: 5px;
}

.stats-section {
        margin: 5px;
}

.item-section {
        display: inline-block;
        overflow: hidden;
        min-width: 50px;
        max-width: 45vw;
        display: block;
        margin: 5px;
        border: 1px solid black;
        border-radius: 5px;
}