.item-table {
        /*display: flex;
        justify-content: center;
        align-items: center;
        */
        width: 50vw;
        height: 85vh;
        margin: auto;
        overflow-y: auto;
        overflow-x: hidden;
        border: 2px solid blue;
        border-radius: 5px;
}

.item-section {
        min-width: 50vw;
        display: block
}